<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click) = "addDog()">Add Dog</ion-button>

    <img [src]="currentImage" *ngIf="currentImage">

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
    </ion-fab>



    <ion-list>
        <ion-item-sliding *ngFor = "let dog of myDogs; let i = index">
          <ion-item>
            <ion-avatar slot="start">
              <img src="/assets/icon/dog.jpg">
            </ion-avatar>
            <ion-label>{{dog.name}}</ion-label>
            <p text-wrap>Breed: {{dog.breed}}<br>Gender: {{dog.gender}}<br>Size: {{dog.size}}<br>Age: {{dog.age}}<br>About me: {{dog.about}}</p>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option type="button" (click) = "editDog(dog, i)" ion-button color="warning"><ion-icon name="create"></ion-icon>Edit</ion-item-option>
            <ion-item-option type="button" (click) = "removeDog(dog, i)" ion-button color="danger"><ion-icon name="trash"></ion-icon>Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>


</ion-content>
