<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      Owner Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">First Name</ion-label>
    <ion-input placeholder="First Name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Last Name</ion-label>
    <ion-input placeholder="Last Name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Address</ion-label>
    <ion-input placeholder="Street"></ion-input>
    <ion-input placeholder="City"></ion-input>
    <ion-input placeholder="State"></ion-input>
    <ion-input placeholder="Zip Code"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Login Credentials</ion-label>
    <ion-input placeholder="Username"></ion-input>
    <ion-input type="password" placeholder="Password"></ion-input>
  </ion-item>
  
</ion-content>
